
nav a {
  text-decoration: none;
  line-height: 0px;
}
body {
  padding: 0px;
  max-width: 1900px;
  margin: auto;
}

.container {
  overflow: hidden;
}

.column {
  box-sizing: border-box;
  float: left;

  height: 999px;
}

.col-1 {
  border-right: 1px solid;
  padding-right: 20px;
  width: 140px;
}

.col-2 {
  border-left: 1px solid;
  margin-left: -1px;
  padding-left: 20px;
  width: 600px;
}

.column p:first-child {
  margin-top: 0;
}
