
nav a {
  text-decoration: none;
  line-height: 0px;
}
body {
  padding: 0px;
  max-width: 1900px;
  margin: auto;
}

.container {
  overflow: hidden;
  text-shadow: -1px 1px 0px #DDF;
  background: #113;
  height: 100vh;
}

.column {

  float: left;
  height: 100vh;

}

.col-1 {
  border-right: 1px solid;
  padding-right: 15px;
  width: 240px;
  background: #DDF;
}

.col-2 {
  border-left: 1px solid;
  margin-left: -1px;
  padding-left: 20px;
  width: 1600px;
  background:  #FDD;
}

.column p:first-child {
  margin-top: 0;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
